/* -------------------------------------------------------------------------------- /
        [07]     ADMIN MENU - UPDATED 15.01.2023
/ -------------------------------------------------------------------------------- */


.hidden,
.invisible,
.cd-btn {
   display: none;
}
.matrix .invisible {
   display: block;
}

.matrix .cd-btn {
   position: fixed;
   bottom: 50%;
   left: -2px;
   z-index: 999999;
   display:block;
   line-height: 14px;
   padding:8px 2px;
   vertical-align: middle;
   text-align: center;
   background: #505050!important;
   color:#fff;
   text-decoration: none!important;
   border: 1px solid #2e2e2e;
   opacity: .65;
   -webkit-border-radius: 0 4px 4px 0;
   border-radius: 0 4px 4px 0;
   -webkit-transition: opacity 200ms cubic-bezier(.6,0,.4,1);
   transition: opacity 200ms cubic-bezier(.6,0,.4,1);
}
.matrix .cd-btn:before {
   content: "\E21B";
   text-align: center;
   font-size: 12px;
   line-height:140%;
   font-family: "JimdoIconFont"!important;
}

#cc-inner .cd-btn:hover {
   opacity:1;
}

a.is-locked:after {
  font-family: 'FontAwesome', sans-serif;
  display: inline-block;
  float: right;
  margin-left:5px;
  color:inherit;
  content: '\f023';
  color: #cacedb;;
}

.matrix-msg {
   background: #404040;
   border-radius: 0.3em;
   color: #fff;
   font-weight: 400;
   font-style: normal;
   text-decoration: none;
   padding: 7px;
   text-align: left;
   font-family: "Brandon Text", "Asap", Verdana, Arial, sans-serif !important;
   font-size: 13px !important;
   -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;
}
#hs-container .invisible a:link,
#hs-container .invisible a:visited {
   color: #fff !important;
}
html,
body {
   height: 100%;
}
.cd-main-content {
   text-align: center;
}
.cd-main-content h1 {
   font-size: 20px;
   font-size: 1.25rem;
   color: #64788c;
   padding: 4em 0;
}
.cd-main-content .cd-btn {
   position: relative;
   display: inline-block;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   border-radius: 50em;
   box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 0 5px rgba(0, 0, 0, 0.1);
   -webkit-transition: all 0.2s;
   -moz-transition: all 0.2s;
   transition: all 0.2s;
}
.no-touch .cd-main-content .cd-btn:hover {
   box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 0 20px rgba(0, 0, 0, 0.3);
}
@media only screen and (min-width: 1170px) {
   .cd-main-content h1 {
       font-size: 32px;
       font-size: 2rem;
   }
}
.cd-panel {
   position: fixed;
   top: 0;
   left: 0;
   height: 100%;
   width: 50%;
   max-width: 461px;
   visibility: hidden;
   z-index: 3203003;
   -webkit-transition: visibility 0s 0.6s;
   -moz-transition: visibility 0s 0.6s;
   transition: visibility 0s 0.6s;
}
.cd-panel::after {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: transparent;
   cursor: pointer;
   -webkit-transition: background 0.3s 0.3s;
   -moz-transition: background 0.3s 0.3s;
   transition: background 0.3s 0.3s;
}
.cd-panel.is-visible {
   visibility: visible;
   -webkit-transition: visibility 0s 0s;
   -moz-transition: visibility 0s 0s;
   transition: visibility 0s 0s;
}
.cd-panel.is-visible::after {
   background: rgba(0, 0, 0, 0.6);
   -webkit-transition: background 0.3s 0s;
   -moz-transition: background 0.3s 0s;
   transition: background 0.3s 0s;
}
.cd-panel.is-visible .cd-panel-close::before {
   -webkit-animation: cd-close-1 0.6s 0.3s;
   -moz-animation: cd-close-1 0.6s 0.3s;
   animation: cd-close-1 0.6s 0.3s;
}
.cd-panel.is-visible .cd-panel-close::after {
   -webkit-animation: cd-close-2 0.6s 0.3s;
   -moz-animation: cd-close-2 0.6s 0.3s;
   animation: cd-close-2 0.6s 0.3s;
}
@-webkit-keyframes cd-close-1 {
   0%,
   50% {
       -webkit-transform: rotate(0);
   }
   100% {
       -webkit-transform: rotate(45deg);
   }
}
@-moz-keyframes cd-close-1 {
   0%,
   50% {
       -moz-transform: rotate(0);
   }
   100% {
       -moz-transform: rotate(45deg);
   }
}
@keyframes cd-close-1 {
   0%,
   50% {
       -webkit-transform: rotate(0);
       -moz-transform: rotate(0);
       -ms-transform: rotate(0);
       -o-transform: rotate(0);
       transform: rotate(0);
   }
   100% {
       -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
       -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
       transform: rotate(45deg);
   }
}
@-webkit-keyframes cd-close-2 {
   0%,
   50% {
       -webkit-transform: rotate(0);
   }
   100% {
       -webkit-transform: rotate(-45deg);
   }
}
@-moz-keyframes cd-close-2 {
   0%,
   50% {
       -moz-transform: rotate(0);
   }
   100% {
       -moz-transform: rotate(-45deg);
   }
}
@keyframes cd-close-2 {
   0%,
   50% {
       -webkit-transform: rotate(0);
       -moz-transform: rotate(0);
       -ms-transform: rotate(0);
       -o-transform: rotate(0);
       transform: rotate(0);
   }
   100% {
       -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
       -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
       transform: rotate(-45deg);
   }
}
.cd-panel-header {
   position: fixed;
   height: 50px;
   width: 50%;
   max-width: 461px;
   line-height: 50px;
   background: #d15296;
   z-index: 3203003;
   -webkit-transition: top 0.3s 0s;
   -moz-transition: top 0.3s 0s;
   transition: top 0.3s 0s;
}
.cd-panel-header h1,
.cd-panel-header span {
   font-family: "Brandon Text", Asap, Verdana, Arial, sans-serif !important;
   font-size: 18px;
   color: #fff;
   text-align: left;
   font-weight: 400;
   padding: 10px 20px;
}
.from-right .cd-panel-header,
.from-left .cd-panel-header {
   top: -50px;
}
.from-right .cd-panel-header {
   right: 0;
}
.from-left .cd-panel-header {
   left: 0;
}
.is-visible .cd-panel-header {
   top: 0;
   -webkit-transition: top 0.3s 0.3s;
   -moz-transition: top 0.3s 0.3s;
   transition: top 0.3s 0.3s;
}
@media only screen and (min-width: 768px) {
   .cd-panel-header {
   }
}
@media only screen and (min-width: 1170px) {
   .cd-panel-header {
   }
}
.cd-panel-close {
   position: absolute;
   top: 0;
   right: 0;
   height: 100%;
   width: 60px;
   height: 50px;
   display: inline-block;
   overflow: hidden;
   text-indent: 100%;
   white-space: nowrap;
}
a.cd-panel-close {
   color: transparent !important;
}
.cd-panel-close::before,
.cd-panel-close::after {
   position: absolute;
   top: 22px;
   left: 20px;
   height: 3px;
   width: 20px;
   background-color: #fff;
   content: "\f00d";
   font-family: FontAwesome;
   -webkit-backface-visibility: hidden;
   backface-visibility: hidden;
}
.cd-panel-close::before {
   -webkit-transform: rotate(45deg);
   -moz-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   -o-transform: rotate(45deg);
   transform: rotate(45deg);
}
.cd-panel-close::after {
   -webkit-transform: rotate(-45deg);
   -moz-transform: rotate(-45deg);
   -ms-transform: rotate(-45deg);
   -o-transform: rotate(-45deg);
   transform: rotate(-45deg);
}
.no-touch .cd-panel-close:hover {
   background-color: #424f5c;
}
.no-touch .cd-panel-close:hover::before,
.no-touch .cd-panel-close:hover::after {
   background-color: #ffffff;
   -webkit-transition-property: -webkit-transform;
   -moz-transition-property: -moz-transform;
   transition-property: transform;
   -webkit-transition-duration: 0.3s;
   -moz-transition-duration: 0.3s;
   transition-duration: 0.3s;
}
.no-touch .cd-panel-close:hover::before {
   -webkit-transform: rotate(220deg);
   -moz-transform: rotate(220deg);
   -ms-transform: rotate(220deg);
   -o-transform: rotate(220deg);
   transform: rotate(220deg);
}
.no-touch .cd-panel-close:hover::after {
   -webkit-transform: rotate(135deg);
   -moz-transform: rotate(135deg);
   -ms-transform: rotate(135deg);
   -o-transform: rotate(135deg);
   transform: rotate(135deg);
}
.cd-panel-container {
   position: fixed;
   width: 50%;
   max-width: 461px;
   height: 100%;
   overflow: hidden;
   top: 0;
   background: #f4f5f9;
   box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
   -webkit-transition-property: -webkit-transform;
   -moz-transition-property: -moz-transform;
   transition-property: transform;
   -webkit-transition-duration: 0.3s;
   -moz-transition-duration: 0.3s;
   transition-duration: 0.3s;
   -webkit-transition-delay: 0.3s;
   -moz-transition-delay: 0.3s;
   transition-delay: 0.3s;
}
.cd-panel-container a:link,
.cd-panel-container a:visited {
   color: #696c76 !important;
   font-size: 16px !important;
   line-height: 100% !important;
   width: auto;
   padding: 10px;
   margin: 1px 0;
   display: block;
   outline: none;
   text-decoration: none !important;
   text-overflow: ellipsis;
   font-family: "Brandon Text", Asap, Verdana, Arial, sans-serif !important;
   -webkit-transition: all 200ms linear;
   -o-transition: all 200ms linear;
   -moz-transition: all 200ms linear;
}
a.mt.active,
.cd-panel-container a:link:hover,
.cd-panel-container a:visited:hover,
.cd-panel-container a:active,
.cd-panel-container:focus {
   background: #e6e7f0 !important;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
}
.from-right .cd-panel-container {
   right: 0;
   -webkit-transform: translate3d(100%, 0, 0);
   -moz-transform: translate3d(100%, 0, 0);
   -ms-transform: translate3d(100%, 0, 0);
   -o-transform: translate3d(100%, 0, 0);
   transform: translate3d(100%, 0, 0);
}
.from-left .cd-panel-container {
   left: 0;
   -webkit-transform: translate3d(-100%, 0, 0);
   -moz-transform: translate3d(-100%, 0, 0);
   -ms-transform: translate3d(-100%, 0, 0);
   -o-transform: translate3d(-100%, 0, 0);
   transform: translate3d(-100%, 0, 0);
}
.is-visible .cd-panel-container {
   -webkit-transform: translate3d(0, 0, 0);
   -moz-transform: translate3d(0, 0, 0);
   -ms-transform: translate3d(0, 0, 0);
   -o-transform: translate3d(0, 0, 0);
   transform: translate3d(0, 0, 0);
   -webkit-transition-delay: 0s;
   -moz-transition-delay: 0s;
   transition-delay: 0s;
}
@media only screen and (min-width: 768px) {
   .cd-panel-container {
       width: 50%;
   }
}
@media only screen and (min-width: 1170px) {
   .cd-panel-container {
       width: 50%;
   }
}
.cd-panel-content {
   position: relative;
   top: 0;
   left: 0;
   height: 100%;
   min-width: 150px;
   padding: 60px 5px 0 5px;
   overflow: auto;
   border-right: 1px solid #dbdce0;
   -webkit-overflow-scrolling: touch;
}
.cd-panel-content p {
   font-size: 14px;
   font-size: 0.875rem;
   color: #424f5c;
   line-height: 1.4;
   margin: 2em 0;
}
.cd-panel-content p:first-of-type {
   margin-top: 0;
}
@media only screen and (min-width: 768px) {
   .cd-panel-content p {
       font-size: 16px;
       font-size: 1rem;
       line-height: 1.6;
   }
}
#iframe-holder {
   border: none;
   position: absolute;
}
.has-push-layout {
   -webkit-transition: all 0.3s ease-in;
   -moz-transition: all 0.3s ease-in;
   -o-transition: all 0.3s ease-in;
   transition: all 0.3s ease-in;
}
.has-push-layout.is-pushed {
   margin-left: 461px;
}
@media only screen and (max-width: 1023px) {
   .has-push-layout.is-pushed {
       margin-left: 0;
   }
}
.has-push-layout.is-pushed .is__content .inner,
.has-push-layout.is-pushed .is__footer .inner,
.has-push-layout.is-pushed .footer-btm .inner {
   width: 100%;
   padding: 27px;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
